* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameBoard {
  width: 100%;
  height: 100vh;
  border-bottom: 1rem solid rgb(28, 119, 10);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#46beee, #e0f6ff);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 112px;
  animation: pipeAnimation 2s infinite linear;
}

@keyframes pipeAnimation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

.mario {
  position: absolute;
  bottom: 0;
  width: 150px;
}

.jump {
  animation: jumpAnimation 500ms infinite ease-out;
}

@keyframes jumpAnimation {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 180px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 180px;
  }
  100% {
    bottom: 0;
  }
}

.clouds {
  position: absolute;
  width: 550px;
  animation: cloudsAnimation 10s infinite linear;
}

@keyframes cloudsAnimation {
  from {
    right: -550px;
  }
  to {
    right: 100%;
  }
}

.divGameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.divGameOver .imgGameOver {
  display: none;
  z-index: 9999;
}

.divGameOver .btnIniciar {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background: rgb(28, 119, 10);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: none;
}

.divGameOver .btnIniciar:hover {
  opacity: 85%;
  cursor: pointer;
}

/* Responsividade para telas pequenas */
@media (max-width: 576px) {
  .pipe {
    width: 40px;
    height: 56px;
  }

  .mario {
    width: 100px;
  }

  .clouds {
    width: 300px;
  }

  .divGameOver .btnIniciar {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }
}

/* Responsividade para telas médias */
@media (min-width: 577px) and (max-width: 992px) {
  .pipe {
    width: 60px;
    height: 84px;
  }

  .mario {
    width: 120px;
  }

  .clouds {
    width: 400px;
  }

  .divGameOver .btnIniciar {
    width: 180px;
    height: 45px;
    font-size: 18px;
  }
}

/* Responsividade para telas grandes */
@media (min-width: 993px) {
  .pipe {
    width: 80px;
    height: 112px;
  }

  .mario {
    width: 150px;
  }

  .clouds {
    width: 550px;
  }

  .divGameOver .btnIniciar {
    width: 200px;
    height: 50px;
    font-size: 20px;
  }
}